<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}
  
  <link rel="stylesheet" href="{{ "/assets/css/custom-style.css" | relative_url }}">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/atom-one-light.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
  <script>

    window.onload = function() {
      document.querySelectorAll('div[class^="language-"').forEach((block) => {
        sousBlock = block.querySelector('pre code')
        const languageClass = Array.from(block.classList).find(className =>
          className.startWith('language-'));
        const languageClass2 = Array.from(sousBlock.classList).find(className) =>
          className.startWith('language-'));
        block.querySelector('pre code').classList.replace(languageClass2, languageClass);
      }
      hljs.highlightAll();  // Relancer le highlight.js après modification des classes
  };


    
  // Fonction pour ouvrir en plein écran l'iframe en dessous du bouton cliqué
  function openFullscreen(button) {
    // Remonter au parent <blockquote> et trouver l'iframe à l'intérieur
    var blockquote = button.closest('blockquote');  // Sélectionne l'élément parent blockquote
    var iframe = blockquote.querySelector('iframe'); // Trouve l'iframe à l'intérieur du blockquote

    if (iframe.requestFullscreen) {
      iframe.requestFullscreen();
    } else if (iframe.mozRequestFullScreen) { // Firefox
      iframe.mozRequestFullScreen();
    } else if (iframe.webkitRequestFullscreen) { // Chrome, Safari, Opera
      iframe.webkitRequestFullscreen();
    } else if (iframe.msRequestFullscreen) { // IE/Edge
      iframe.msRequestFullscreen();
    }
  }
    
  </script>

</head>
